@using Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<AscendNutrition.Web.ViewModels.AdminArea.CategoryManagement.AllCategoriesViewModel>

@{
    ViewData["Title"] = "Manage Categories";
}

<div class="container">
    <h1 class="my-4"><u>@ViewData["Title"]</u></h1>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Category</th>
                <th>Subcategories</th>
                <th>Operations</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var category in Model)
            {
                <tr>

                    <td>@category.Name</td>


                    <td>
                        @if (category.SubCategories.Any())
                        {
                            <div class="dropdown">
                                <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton-@category.Id" data-bs-toggle="dropdown" aria-expanded="false">
                                    Subcategories
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton-@category.Id">
                                    @foreach (var subCategory in category.SubCategories)
                                    {
                                        <li><a class="dropdown-item" href="#">@subCategory.Name</a></li>
                                    }
                                </ul>
                            </div>
                        }
                        else
                        {
                            <span>No Subcategories</span>
                        }
                    </td>


                    <td>
                        <div class="btn-group" role="group">
                            <a asp-action="ChangeSubcategories" asp-route-category="@category.Id" class="btn btn-primary me-2">Manage Subcategories</a>
                            <a asp-action="EditCategory" asp-route-id="@category.Id" class="btn btn-primary me-2">Edit</a>
                            <a asp-action="SeeAll" asp-route-category="@category.Id" class="btn btn-primary me-2">See all products</a>
                            <a asp-action="Delete" asp-route-id="@category.Id" class="btn btn-danger me-2">Remove</a>


                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <a asp-action="AddCategory" class="btn btn-success">Add category</a>
</div>
