@using Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<AscendNutrition.Web.ViewModels.AdminArea.InventoryManagement.AllInventoriesViewModel>
@{
    ViewData["Title"] = "Inventory List";
}

<div class="container mt-5">
    <h1 class="text-center mb-4"><u>@ViewData["Title"]</u></h1>

    <table class="table table-bordered">
        <thead class="thead-dark">
            <tr>
                <th scope="col">City</th>
                <th scope="col">Operations</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var inventory in Model)
            {
                <tr>
                    <td>@inventory.Name</td>
                    <td>
                        <a asp-action="Manage" asp-route-id="@inventory.Id" class="btn btn-secondary btn-sm">Manage Storage</a>
                        <a asp-action="Edit" asp-route-id="@inventory.Id" class="btn btn-primary btn-sm">Edit</a>
                        <a asp-action="Delete" asp-route-id="@inventory.Id" class="btn btn-danger btn-sm">Remove</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <a asp-action="AddInventory" class="btn btn-success">Add new Inventory</a>
</div>