@model IEnumerable<AscendNutrition.Web.ViewModels.IndexViewModel>



<h1><u>@ViewData["Title"]</u></h1>

@if (Model != null && Model.Any())
{
    <div class="row g-4">

        @foreach (var product in Model)
        {
            <div class="col-md-4 col-sm-6 col-12 mb-2">

                <div class="list-group-item d-flex justify-content-between align-items-center" style="border: 1px solid #000000; padding: 10px;">
                    <div class="product-text">
                        <strong>Name:</strong> @product.Name <br />
                        <strong>Price:</strong> @product.Price.ToString("C") <br />
                        <strong>Servings:</strong> @product.Servings <br />
                        <a asp-action="Details" asp-route-id="@product.Id" class="btn btn-primary">Details</a>
                        @if (User?.Identity?.IsAuthenticated == true)
                        {
                            <a asp-action="Buy" asp-route-id="@product.Id" class="btn btn-primary">Buy</a>
                        }
                    </div>
                    <div class="product-image" style="text-align: center;">
                        <img src="@Url.Content("~/" + @product.ImageUrl)" alt="@product.Name" class="img-fluid" style="max-width: 100px; height: 100px; object-fit: cover" />
                    </div>
                </div>
            </div>
        }
    </div>
}
else
{
    <p class="text-center"><strong>No products available at the moment. Please check later.</strong></p>
}