@using Microsoft.AspNetCore.Mvc.TagHelpers
@using AscendNutrition.Web.ViewModels.AdminArea.UserManagement
@using Microsoft.AspNetCore.Identity
@using Microsoft.EntityFrameworkCore
@model IEnumerable<AllUsersViewModel>

@inject RoleManager<IdentityRole<Guid>> roleManager;

@{
    IEnumerable<string?> allRoles = await roleManager.Roles.Select(r => r.Name).ToListAsync();
}
<div class="container mt-5">
    <h1 class="text-center mb-4"><strong><u>User Management</u></strong></h1>

    <table class="table table-bordered table-hover">
        <thead class="thead-light">
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Roles</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td>@user.Name</td>
                    <td>@user.Email</td>
                    <td>
                        @foreach (var role in user.Roles)
                        {
                            <span class="badge bg-secondary">@role</span>
                        }
                    </td>
                    <td>
                        @if (!user.Roles.Contains("Admin"))
                        {
                            <form method="post" asp-action="DeleteUser" asp-controller="UserManagement" asp-area="Admin" class="d-inline ms-2">
                                @Html.AntiForgeryToken()
                                <input type="hidden" name="userId" value="@user.Id" />
                                <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                            </form>
                        }
                       
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
